.git
.claude
.gitignore
.github
.workflow
.laragon
.idea
.env
.editorconfig
.venv/
Dockerfile
*.md
LICENSE

#cache
frontend/node_modules
frontend/dist

#
__pycache__
*.pyc
*.pyo

#localhost
tests/
docs/
system_info.png
system_running.png
