# Environment variables
.env
.env.local
.env.*.local

#test
.claude/

venv/
__pycache__/

# IDE
.vscode/
.idea/
.editorconfig
.laragon

# OS
.DS_Store
Thumbs.db

# Logs
*.log
/logs/

# Cache
/tmp/
/cache/
*.cache
